.sidebar-menu a, .sidebar-menu a span {
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        top: 40px;
        margin-left: 0;
    }
}

.user-footer a {
    font-size: 12px;
}

.box-header-btns{
    float: right;
}

.box-header-btns span{
    font-size: 12px;
    font-family: 'Microsoft YaHei';
    margin-left: 2px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 700px;
    margin: 20px auto;
}

.btn-span{
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}