<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhzl.drp.dao.MessageinfoMapper" >
  <resultMap id="BaseResultMap" type="com.lhzl.drp.model.Messageinfo" >
    <id column="msgId" property="msgid" jdbcType="BIGINT" />
    <result column="msgType" property="msgtype" jdbcType="VARCHAR" />
    <result column="isRead" property="isread" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lhzl.drp.model.Messageinfo" extends="BaseResultMap" >
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    msgId, msgType, isRead, createTime
  </sql>
  <sql id="Blob_Column_List" >
    message
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_messageinfo
    where msgId = #{msgid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_messageinfo
    where msgId = #{msgid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhzl.drp.model.Messageinfo" >
    insert into tbl_messageinfo (msgId, msgType, isRead, 
      createTime, message)
    values (#{msgid,jdbcType=BIGINT}, #{msgtype,jdbcType=VARCHAR}, #{isread,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lhzl.drp.model.Messageinfo" >
    insert into tbl_messageinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgid != null" >
        msgId,
      </if>
      <if test="msgtype != null" >
        msgType,
      </if>
      <if test="isread != null" >
        isRead,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgid != null" >
        #{msgid,jdbcType=BIGINT},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhzl.drp.model.Messageinfo" >
    update tbl_messageinfo
    <set >
      <if test="msgtype != null" >
        msgType = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        isRead = #{isread,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where msgId = #{msgid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lhzl.drp.model.Messageinfo" >
    update tbl_messageinfo
    set msgType = #{msgtype,jdbcType=VARCHAR},
      isRead = #{isread,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where msgId = #{msgid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhzl.drp.model.Messageinfo" >
    update tbl_messageinfo
    set msgType = #{msgtype,jdbcType=VARCHAR},
      isRead = #{isread,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where msgId = #{msgid,jdbcType=BIGINT}
  </update>
</mapper>