<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhzl.drp.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lhzl.drp.model.OrderInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="lineId" property="lineid" jdbcType="BIGINT" />
    <result column="drpid" property="drpid" jdbcType="BIGINT" />
    <result column="guide" property="guide" jdbcType="VARCHAR" />
    <result column="guideTel" property="guidetel" jdbcType="VARCHAR" />
    <result column="driver" property="driver" jdbcType="VARCHAR" />
    <result column="driverTel" property="drivertel" jdbcType="VARCHAR" />
    <result column="ordamt" property="ordamt" jdbcType="DECIMAL" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="orderTime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateby" property="updateby" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderNo, lineId, drpid, guide, guideTel, driver, driverTel, ordamt, startTime, 
    status, orderTime, createby, createTime, updateby, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_orderinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_orderinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhzl.drp.model.OrderInfo" >
    insert into tbl_orderinfo (id, orderNo, lineId, 
      drpid, guide, guideTel, 
      driver, driverTel, ordamt, 
      startTime, status, orderTime, 
      createby, createTime, updateby, 
      updateTime)
    values (#{id,jdbcType=BIGINT}, #{orderno,jdbcType=VARCHAR}, #{lineid,jdbcType=BIGINT}, 
      #{drpid,jdbcType=BIGINT}, #{guide,jdbcType=VARCHAR}, #{guidetel,jdbcType=VARCHAR}, 
      #{driver,jdbcType=VARCHAR}, #{drivertel,jdbcType=VARCHAR}, #{ordamt,jdbcType=DECIMAL}, 
      #{starttime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lhzl.drp.model.OrderInfo" >
    insert into tbl_orderinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="lineid != null" >
        lineId,
      </if>
      <if test="drpid != null" >
        drpid,
      </if>
      <if test="guide != null" >
        guide,
      </if>
      <if test="guidetel != null" >
        guideTel,
      </if>
      <if test="driver != null" >
        driver,
      </if>
      <if test="drivertel != null" >
        driverTel,
      </if>
      <if test="ordamt != null" >
        ordamt,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ordertime != null" >
        orderTime,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateby,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null" >
        #{lineid,jdbcType=BIGINT},
      </if>
      <if test="drpid != null" >
        #{drpid,jdbcType=BIGINT},
      </if>
      <if test="guide != null" >
        #{guide,jdbcType=VARCHAR},
      </if>
      <if test="guidetel != null" >
        #{guidetel,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="drivertel != null" >
        #{drivertel,jdbcType=VARCHAR},
      </if>
      <if test="ordamt != null" >
        #{ordamt,jdbcType=DECIMAL},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhzl.drp.model.OrderInfo" >
    update tbl_orderinfo
    <set >
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null" >
        lineId = #{lineid,jdbcType=BIGINT},
      </if>
      <if test="drpid != null" >
        drpid = #{drpid,jdbcType=BIGINT},
      </if>
      <if test="guide != null" >
        guide = #{guide,jdbcType=VARCHAR},
      </if>
      <if test="guidetel != null" >
        guideTel = #{guidetel,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="drivertel != null" >
        driverTel = #{drivertel,jdbcType=VARCHAR},
      </if>
      <if test="ordamt != null" >
        ordamt = #{ordamt,jdbcType=DECIMAL},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhzl.drp.model.OrderInfo" >
    update tbl_orderinfo
    set orderNo = #{orderno,jdbcType=VARCHAR},
      lineId = #{lineid,jdbcType=BIGINT},
      drpid = #{drpid,jdbcType=BIGINT},
      guide = #{guide,jdbcType=VARCHAR},
      guideTel = #{guidetel,jdbcType=VARCHAR},
      driver = #{driver,jdbcType=VARCHAR},
      driverTel = #{drivertel,jdbcType=VARCHAR},
      ordamt = #{ordamt,jdbcType=DECIMAL},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      orderTime = #{ordertime,jdbcType=TIMESTAMP},
      createby = #{createby,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateby = #{updateby,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>