<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhzl.drp.dao.PayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lhzl.drp.model.PayInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="payNo" property="payno" jdbcType="VARCHAR" />
    <result column="cusNo" property="cusno" jdbcType="VARCHAR" />
    <result column="orderId" property="orderid" jdbcType="BIGINT" />
    <result column="orderAmt" property="orderamt" jdbcType="DECIMAL" />
    <result column="payAmt" property="payamt" jdbcType="DECIMAL" />
    <result column="prepaidAmt" property="prepaidamt" jdbcType="DECIMAL" />
    <result column="orderRebate" property="orderrebate" jdbcType="DECIMAL" />
    <result column="prepaidTime" property="prepaidtime" jdbcType="TIMESTAMP" />
    <result column="finalAmt" property="finalamt" jdbcType="DECIMAL" />
    <result column="finalTime" property="finaltime" jdbcType="TIMESTAMP" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="payTime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateby" property="updateby" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, payNo, cusNo, orderId, orderAmt, payAmt, prepaidAmt, orderRebate, prepaidTime, 
    finalAmt, finalTime, payer, payTime, status, createby, createTime, updateby, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_payinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_payinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhzl.drp.model.PayInfo" >
    insert into tbl_payinfo (id, payNo, cusNo, 
      orderId, orderAmt, payAmt, 
      prepaidAmt, orderRebate, prepaidTime, 
      finalAmt, finalTime, payer, 
      payTime, status, createby, 
      createTime, updateby, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{payno,jdbcType=VARCHAR}, #{cusno,jdbcType=VARCHAR}, 
      #{orderid,jdbcType=BIGINT}, #{orderamt,jdbcType=DECIMAL}, #{payamt,jdbcType=DECIMAL}, 
      #{prepaidamt,jdbcType=DECIMAL}, #{orderrebate,jdbcType=DECIMAL}, #{prepaidtime,jdbcType=TIMESTAMP}, 
      #{finalamt,jdbcType=DECIMAL}, #{finaltime,jdbcType=TIMESTAMP}, #{payer,jdbcType=VARCHAR}, 
      #{paytime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhzl.drp.model.PayInfo" >
    insert into tbl_payinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="payno != null" >
        payNo,
      </if>
      <if test="cusno != null" >
        cusNo,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="orderamt != null" >
        orderAmt,
      </if>
      <if test="payamt != null" >
        payAmt,
      </if>
      <if test="prepaidamt != null" >
        prepaidAmt,
      </if>
      <if test="orderrebate != null" >
        orderRebate,
      </if>
      <if test="prepaidtime != null" >
        prepaidTime,
      </if>
      <if test="finalamt != null" >
        finalAmt,
      </if>
      <if test="finaltime != null" >
        finalTime,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="paytime != null" >
        payTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateby,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="payno != null" >
        #{payno,jdbcType=VARCHAR},
      </if>
      <if test="cusno != null" >
        #{cusno,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="orderamt != null" >
        #{orderamt,jdbcType=DECIMAL},
      </if>
      <if test="payamt != null" >
        #{payamt,jdbcType=DECIMAL},
      </if>
      <if test="prepaidamt != null" >
        #{prepaidamt,jdbcType=DECIMAL},
      </if>
      <if test="orderrebate != null" >
        #{orderrebate,jdbcType=DECIMAL},
      </if>
      <if test="prepaidtime != null" >
        #{prepaidtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalamt != null" >
        #{finalamt,jdbcType=DECIMAL},
      </if>
      <if test="finaltime != null" >
        #{finaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhzl.drp.model.PayInfo" >
    update tbl_payinfo
    <set >
      <if test="payno != null" >
        payNo = #{payno,jdbcType=VARCHAR},
      </if>
      <if test="cusno != null" >
        cusNo = #{cusno,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=BIGINT},
      </if>
      <if test="orderamt != null" >
        orderAmt = #{orderamt,jdbcType=DECIMAL},
      </if>
      <if test="payamt != null" >
        payAmt = #{payamt,jdbcType=DECIMAL},
      </if>
      <if test="prepaidamt != null" >
        prepaidAmt = #{prepaidamt,jdbcType=DECIMAL},
      </if>
      <if test="orderrebate != null" >
        orderRebate = #{orderrebate,jdbcType=DECIMAL},
      </if>
      <if test="prepaidtime != null" >
        prepaidTime = #{prepaidtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalamt != null" >
        finalAmt = #{finalamt,jdbcType=DECIMAL},
      </if>
      <if test="finaltime != null" >
        finalTime = #{finaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null" >
        payTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhzl.drp.model.PayInfo" >
    update tbl_payinfo
    set payNo = #{payno,jdbcType=VARCHAR},
      cusNo = #{cusno,jdbcType=VARCHAR},
      orderId = #{orderid,jdbcType=BIGINT},
      orderAmt = #{orderamt,jdbcType=DECIMAL},
      payAmt = #{payamt,jdbcType=DECIMAL},
      prepaidAmt = #{prepaidamt,jdbcType=DECIMAL},
      orderRebate = #{orderrebate,jdbcType=DECIMAL},
      prepaidTime = #{prepaidtime,jdbcType=TIMESTAMP},
      finalAmt = #{finalamt,jdbcType=DECIMAL},
      finalTime = #{finaltime,jdbcType=TIMESTAMP},
      payer = #{payer,jdbcType=VARCHAR},
      payTime = #{paytime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      createby = #{createby,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateby = #{updateby,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>