<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhzl.drp.dao.StationInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lhzl.drp.model.StationInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stationPid" property="stationpid" jdbcType="BIGINT" />
    <result column="stationName" property="stationname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateby" property="updateby" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="stationpname" property="stationpname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stationPid, stationName, status, createby, createTime, updateby, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_stationinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_stationinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhzl.drp.model.StationInfo" >
    insert into tbl_stationinfo (id, stationPid, stationName, 
      status, createby, createTime,
      updateby, updateTime)
    values (#{id,jdbcType=BIGINT}, #{stationpid,jdbcType=BIGINT}, #{stationname,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
      #{updateby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lhzl.drp.model.StationInfo" >
    insert into tbl_stationinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stationpid != null" >
        stationPid,
      </if>
      <if test="stationname != null" >
        stationName,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateby,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stationpid != null" >
        #{stationpid,jdbcType=BIGINT},
      </if>
      <if test="stationname != null" >
        #{stationname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhzl.drp.model.StationInfo" >
    update tbl_stationinfo
    <set >
      <if test="stationpid != null" >
        stationPid = #{stationpid,jdbcType=BIGINT},
      </if>
      <if test="stationname != null" >
        stationName = #{stationname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhzl.drp.model.StationInfo" >
    update tbl_stationinfo
    set stationPid = #{stationpid,jdbcType=BIGINT},
      stationName = #{stationname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createby = #{createby,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateby = #{updateby,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryStationInfo" parameterType="Map" resultType="com.lhzl.drp.model.StationInfo">
select * from  tbl_stationInfo  where  stationPid=0
  </select>

  <select id="querySonStationInfo" parameterType="Map" resultType="com.lhzl.drp.model.StationInfo">
    select * from  tbl_stationInfo  where  stationPid=#{id}
  </select>
</mapper>